<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Contact page</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2">
      <p>
        LinkedIn:
      </p>
    </div>
    <div class="col">
      <a href="https://www.linkedin.com/in/uriel-alloatti/">linkedin.com/in/uriel-alloatti/</a>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <p>
        GitHub:
      </p>
    </div>
    <div class="col">
      <a href="https://github.com/urialloatti">github.com/urialloatti</a>
    </div>
  </div>
</div>
