<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>About page</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center alert alert-warning mx-4">
      <h3>Page under construction.</h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <p>
        This page is being created as an exercise from an Angular course.
      </p>
      <p>
        Right now I'm focusing on expanding my knowledge in FrontEnd technologies.
      </p>
    </div>
  </div>
</div>
